extends ../main.pug
block content
    style.
        a:hover{
            color:#FFEE77;
        }
    div(class="container-md text-center")
        div(class="card mb-3 p-5 shadow rounded-pill" style="background-color:#444444AF")
            div(class="row g-0 fs-4")
                a(class="textSpecial-bs" href="/" download="") Resume Download
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) Phone number: 0783329242
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) Email: srikanthcollaty92@gmail.com
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) Linkedin:
                    a(class="textSpecial-bs" href="https://www.linkedin.com/in/srikanth-collaty-9343a520b/") 
            div(class="row g-0 fs-4")
                p(class="textSpecial-bs" ) GitHub:
                    a(class="textSpecial-bs" href="https://github.com/srikanthsc") https://github.com/srikanthsc


