//- This template is for the main pages (Home, Blog, Contact, etc.)
-
    //- Flag to get specific description box text from the MD
    let descBoxFlag = 0

doctype html
html
    head
        include template/head
        block scripts
    main(class="main-page h-100")
        body(class="container d-flex flex-column main-mh-100" style="background-color: #000000; color: #FFC500;")
            div(class="container-md flex-grow-1")
                include template/nav
                //- Get title text header
                each contentTag in content
                    div(class="text-md-left fs-1 text-reset fw-bolder") #{contentTag.body}
                    //- Break iteration to only get header 
                    -   break
                br
                //- Get Description box
                each contentTag in content
                    if descBoxFlag === 1
                        div(class="text-md-center p-5 fs-2 text-reset fw-bolder") #{contentTag.body}
                        -   descBoxFlag++
                        break
                    else
                        -   descBoxFlag++
                //-Insert content depending on the page specifics
                block content 
            br
            include template/footer
